body {
  font-family: Courier;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

h1,
h2,
p {
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10svh;
  padding-bottom: 5svh;
}

.content {
  width: 700px;
}

.content h2 {
  text-align: center;
  padding-bottom: 3svh;
  font-size: 2.5rem;
}

.about-content {
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.about-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-column {
  margin: 20px;
  padding: 20px;
  background: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 3svh;
}

.about-column h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-column p {
  font-size: 16px;
  margin-bottom: 10px;
}

.home-content {
  padding-top: 10svh;
  padding-bottom: 10svh;
}

.home-content h1 {
  color: #41bf67;
  font-size: 4rem;
  text-align: center;
}

.home-content h2 {
  font-size: 2.5rem;
}

.home-content p {
  font-size: 1.5rem;
  text-align: center;
}

.home-content a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.services-content ul {
  padding: 0;
  text-align: center;
}

.testimonial-content p {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2svh;
}

.video-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
}

.contact-content {
  text-align: center;
}

.buttonRich {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #41bf67;
  border: 3px solid #41bf67;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  width: 30vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}

.buttonRich::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 0%;
  height: 100%;
  background-color: #41bf67;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: -1;
}

.buttonRich:hover {
  color: white;
}

.buttonRich:hover::before {
  right: 0;
  width: 100%;
}

.buttonRich:not(:hover)::before {
  right: 100%;
  width: 0%;
}

.buttonKnowledge {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  width: 30vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}

.buttonKnowledge::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: -1;
}

.buttonKnowledge:hover {
  color: white;
}

.buttonKnowledge:hover::before {
  left: 0;
  width: 100%;
}

.buttonKnowledge:not(:hover)::before {
  left: 100%;
  width: 0%;
}


footer {
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .content {
    width: calc(100vw - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content h2 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1.3rem;
  }

  .buttonRich {
    width: 85vw;
  }

  .buttonKnowledge {
    width: 85vw;
  }
}