body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  background-color: #161616;
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
}

h1,
h2,
p {
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 700px;
}

.content h2 {
  text-align: center;
  padding-bottom: 3svh;
  font-size: 2.5rem;
}

.about-content {
  padding-top: 10svh;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.about-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-column {
  margin: 20px;
  padding: 20px;
  background: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 3svh;
}

.about-column h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-column p {
  font-size: 16px;
  margin-bottom: 10px;
}

#home {
  background-color: #161616;
  z-index: -1;
  height: 100vh;
}

.home-content h1 {
  color: rgb(255, 166, 0);
  font-size: 4rem;
  text-align: center;
}

.home-content h2 {
  color: white;
  font-size: 2.5rem;
}

.home-content p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.home-content a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.testimonial-content p {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2svh;
}

.testimonial-content {
  padding-top: 10svh;
}

.video-container {
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.video-container video {
  max-height: 400px;
  width: auto;
}

.contact-content {
  padding-top: 10svh;
  text-align: center;
  justify-content: center;
}

.contact-column {
  justify-content: center;

  display: flex;
  align-items: center;
}

.contact-column a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-column h3 {
  margin-right: 10px;
}

.values-content {
  padding-top: 10svh;
  text-align: center;
  justify-content: center;
}

.buttonRich {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: orange;
  border: 3px solid orange;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  width: 30vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}

.buttonRich::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 0%;
  height: 100%;
  background-color: orange;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: -1;
}

.buttonRich:hover {
  z-index: 1;
  color: white;
}

.buttonRich:hover::before {
  right: 0;
  width: 100%;
}

.buttonRich:not(:hover)::before {
  z-index: 1;
  right: 100%;
  width: 0%;
}

.buttonKnowledge {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  width: 30vw;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}

.buttonKnowledge::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 0%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: -1;
}

.buttonKnowledge:hover {
  z-index: 1;
  color: black;
}

.buttonKnowledge:hover::before {
  left: 0;
  width: 100%;
}

.buttonKnowledge:not(:hover)::before {
  z-index: 1;
  left: 100%;
  width: 0%;
}


footer {
  padding: 20px;
  text-align: center;
  margin-bottom: 7svh;
}

@media only screen and (max-width: 1000px) {
  .content {
    width: calc(100vw - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-content {
    padding-top: 0;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content h2 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1.3rem;
  }

  .buttonRich {
    width: 85vw;
  }

  .buttonKnowledge {
    width: 85vw;
  }
}

.services-content ul {
  padding: 0;
  text-align: center;
}

.services-content {
  padding-top: 10svh;
}

.services-content p {
  text-align: center;
}

/* Styles for the container */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

/* Styles for the service items */
.service-item {
  width: calc(33.33% - 10px);
  min-width: 200px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease;
}

.service-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.service-name {
  font-size: 20px;
  margin-bottom: 0;
}

/* Service item hover effect */
.service-item:hover {
  background-color: #e6e6e6;
}

/* Media query for screens less than 1000px */
@media (max-width: 1000px) {
  .service-item {
    width: calc(50% - 10px);
  }
}

/* Media query for screens less than 600px */
@media (max-width: 600px) {
  .service-item {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial-column {
  flex: 1 0 200px;
  /* adjust this value based on your needs */
  margin: 10px;
}

.logo-img-v {
  width: 150px;
  /* adjust this value based on your needs */
  height: auto;
  padding-bottom: 20px;
}

.center-text {
  text-align: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}